.container {
  position: relative;
  width: 279px;
}

.subscribe-form-box__form__vl {
  position: absolute;
  height: 100%;
  width: 4px;
  height: 60px;
  background: #4066a5;
}

.email-input {
  padding-left: 20px;
  width: calc(100% - 24px);
  height: 56px;
  background: #ffffff;
  border: 1px solid #e3e3e4;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6a707b;
  text-indent: -2px;
}

.subscribe-submit-button {
  position: absolute;
  height: 60px;
  width: 62px;
  right: -5px;
  border: none;
  background: center no-repeat url("./Images/ic_arrow.svg");
}
