// customize theme variables
$primary: #F2F5FA;
$base-font-size: 14px;
$base-margin: 10.5px;
$base-padding: 4px;
$flex-flow: column wrap;

@media(max-width: 480px) {
    .sm-hide {
        display: none;
    }
}

@import 'sass_library';