// customize theme variables
$primary: #F2F5FA;
$base-font-size: 14px;
$base-margin: 10.5px;
$base-padding: 4px;
$flex-flow: column wrap;

@media(max-width: 480px) {
    .sm-hide {
        display: none;
    }
}

.vh100 {
    height: 100vh
}

.desktop-image {
    flex: auto;
    height: 100%;
    background-image: url("./Images/image_summer-desktop.png");
    background-repeat: no-repeat;
}

@import 'sass_library';