@import"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

@import"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

html,body,div,span,h1,h2,h3,p,a,address,font,img,s,small,ul,li,form {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    margin-block-start: 0;
    margin-block-end: 0
}

* {
    color: inherit;
    margin: 0
}

body {
    font-family: Arial
}

h1,.heading {
    font-family: Georgia;
    color: #131821;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 34px
}

h2,.subheading,input {
    font-family: Arial;
    color: #6a707b;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0
}

.message {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px
}

.links {
    color: #6a707b;
    font-family: "Arial-Regular",Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px
}

@media(max-width: 833px) {
    .hide-sm-to-md {
        display: none
    }
}

@media(min-width: 833px) {
    .hide-md-to-lg {
        display: none
    }

    .links {
        font-size: 16px;
        line-height: 26px
    }

    h1,.heading {
        font-size: 32px;
        line-height: 44px;
        font-weight: 400
    }

    h2,.subheading,input {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px
    }
}

@media(max-width: 375px) {
    h1 {
        font-size: 24px;
        line-height: 34px
    }

    h2 {
        font-size: 14px;
        line-height: 26px
    }

    p {
        font-size: 16px;
        line-height: 26px
    }

    span {
        font-size: 16px;
        line-height: 26px
    }
}

ul {
    padding: 0;
    list-style-type: none
}

a {
    text-decoration: none
}

hr {
    border: 0;
    border-top: 1px dotted #efefef
}

img {
    max-width: 100%
}

.test {
    color: #f2f5fa
}

html,body,div,span,h1,h2,h3,p,a,address,font,img,s,small,ul,li,form {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    margin-block-start: 0;
    margin-block-end: 0
}

input,input[type=text i],button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    padding-block: 0;
    padding-inline: 0
}

img {
    overflow: hidden
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box
}

.row {
    display: flex;
    flex-flow: column wrap
}

.gap-2>* {
    padding: 20px
}

.gap-2 {
    margin-left: -20px;
    margin-right: -20px
}

.justify-center {
    justify-content: center
}

@media(min-width: 375px) {
    .col-5-sm {
        box-sizing: border-box;
        flex-grow: 0;
        width: 50%
    }
}

@media(min-width: 833px) {
    .col-5-md {
        box-sizing: border-box;
        flex-grow: 0;
        width: 50%
    }

    .col-6-md {
        box-sizing: border-box;
        flex-grow: 0;
        width: 60%
    }
}

@media(min-width: 1200px) {
    .col-3-lg {
        box-sizing: border-box;
        flex-grow: 0;
        width: 30%
    }
}

@media(min-width: 1920px) {
    .col-3-xl {
        box-sizing: border-box;
        flex-grow: 0;
        width: 30%
    }
}

.text-primary {
    color: #f2f5fa
}

.bg-primary {
    background-color: #f2f5fa
}

.bg-primary-light-2 {
    background-color: #f5f7fb
}

.bg-primary-light-4 {
    background-color: #f7f9fc
}

.bg-primary-light-6 {
    background-color: #fafbfd
}

.bg-primary-light-8 {
    background-color: #fcfdfe
}

.bg-primary-dark-2 {
    background-color: #c2c4c8
}

.bg-primary-dark-4 {
    background-color: #919396
}

.bg-primary-dark-6 {
    background-color: #616264
}

.bg-primary-dark-8 {
    background-color: #303132
}

.text-secondary {
    color: #1ac886
}

.text-hover-secondary:hover {
    color: #1ac886
}

.bg-secondary {
    background-color: #1ac886
}

.bg-secondary-light-5 {
    background-color: #8de4c3
}

.bg-secondary-light-9 {
    background-color: #e8faf3
}

.text-secondary-dark-2 {
    color: #15a06b
}

.text-error {
    color: #b80808
}

.bg-error {
    background-color: #b80808
}

.text-info {
    color: #f6c31c
}

.bg-info {
    background-color: #f6c31c
}

.text-blue {
    color: #177fbf
}

.bg-blue {
    background-color: #177fbf
}

.text-red {
    color: red
}

.bg-red {
    background-color: red
}

.text-yellow {
    color: #e6e619
}

.bg-yellow {
    background-color: #e6e619
}

.text-green {
    color: #19e635
}

.bg-green {
    background-color: #19e635
}

.text-orange {
    color: #ffa600
}

.bg-orange {
    background-color: #ffa600
}

.text-hover-orange-light-1:hover {
    color: #ffaf1a
}

.bg-orange-light-5 {
    background-color: #ffd380
}

.text-orange-dark-2 {
    color: #cc8500
}

.text-purple {
    color: #c13584
}

.bg-purple {
    background-color: #c13584
}

.text-white {
    color: #fff
}

.text-hover-white:hover {
    color: #fff
}

@media(min-width: 833px) {
    .container-form {
        background-image: url(./components/Images/image_summer.png);
        height: 100vh;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: 440px top
    }
}

@media(max-width: 833px) {
    .container-form {
        background-image: url(./components/Images/image_summer.png);
        height: 100vh;
        background-size: auto 100%;
        background-position: -221px
    }
}

.badge {
    border-radius: 80px;
    background-color: #f6c31c;
    padding: 2.5px 5px;
    font-size: 10.5px;
    font-weight: normal
}

.badge-orange {
    border-radius: 80px;
    background-color: #ffa600;
    padding: 2.5px 5px;
    font-size: 10.5px;
    font-weight: normal
}

.btn {
    line-height: 24px;
    background-color: rgba(0,0,0,0);
    border: none
}

.btn-primary {
    color: #f2f5fa;
    line-height: 24px
}

.btn-primary:hover {
    background-color: #4066a5
}

.btn-primary:active {
    background-color: #233759
}

.btn-secondary {
    color: #1ac886;
    line-height: 24px
}

.btn-secondary:hover {
    background-color: #4066a5
}

.btn-secondary:active {
    background-color: #233759
}

.btn-error {
    color: #B80808;
    line-height: 24px
}

.btn-error:hover {
    background-color: #4066a5
}

.btn-error:active {
    background-color: #233759
}

.btn-info {
    color: #f6c31c;
    line-height: 24px
}

.btn-info:hover {
    background-color: #4066a5
}

.btn-info:active {
    background-color: #233759
}

.card {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 5px
}

.card .card-title {
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: bold
}

.card .card-body {
    font-size: 14px
}

.card .card-body a {
    text-decoration: underline
}

.ic-checkmark {
    width: 26px;
    height: 26px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: left;
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid #e3e3e4;
    border-radius: 3px
}

.ic-checkmark:checked {
    background-image: url("./components/Images/ic_checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 11px;
    background-color: #4066a5;
    border-color: #4066a5
}

.facebook {
    box-sizing: border-box;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    border: 2px solid #e3e3e4;
    display: flex;
    align-items: center;
    justify-content: center
}

.facebook:hover {
    background: #4267b2
}

.facebook:hover svg {
    opacity: 1;
    fill: #fff
}

.facebook:active {
    background: #2f4a80
}

.facebook:active svg {
    opacity: 1;
    fill: #fff
}

.ic-facebook {
    height: 16px;
    width: 8px;
    opacity: .4
}

.instagram {
    box-sizing: border-box;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    border: 2px solid #e3e3e4;
    display: flex;
    align-items: center;
    justify-content: center
}

.instagram:hover {
    background: #c13584
}

.instagram:hover svg {
    opacity: 1;
    fill: #fff
}

.instagram:active {
    background: #8f2762
}

.instagram:active svg {
    opacity: 1;
    fill: #fff
}

.ic-instagram {
    height: 16px;
    width: 16px;
    opacity: .4
}

.twitter {
    box-sizing: border-box;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    border: 2px solid #e3e3e4;
    display: flex;
    align-items: center;
    justify-content: center
}

.twitter:hover {
    background: #1da1f2
}

.twitter:hover svg {
    opacity: 1;
    fill: #fff
}

.twitter:active {
    background: #177fbf
}

.twitter:active svg {
    opacity: 1;
    fill: #fff
}

.ic-twitter {
    height: 13px;
    width: 16px;
    opacity: .4
}

.youtube {
    box-sizing: border-box;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    border: 2px solid #e3e3e4;
    display: flex;
    align-items: center;
    justify-content: center
}

.youtube:hover {
    background: red
}

.youtube:hover svg {
    opacity: 1;
    fill: #fff
}

.youtube:active {
    background: #c00
}

.youtube:active svg {
    opacity: 1;
    fill: #fff
}

.ic-youtube {
    height: 11px;
    width: 16px;
    opacity: .4
}

.input-container .subscribe-submit-button {
    height: 54px;
    width: 54px;
    opacity: .3;
    background: center no-repeat url("./components/Images/ic_arrow.svg")
}

.message.hide {
    display: none
}

.message.approved {
    color: #19e635
}

.message.error {
    color: #b80808
}

.message.show {
    display: unset;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    padding-top: 5px
}

.navbar .container,.navbar-primary .container,.navbar,.navbar-primary {
    width: 100%;
    max-width: 680px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box
}

.navbar,.navbar-primary {
    box-shadow: none
}

.navbar .site-title,.navbar-primary .site-title {
    font-size: 21px
}

.navbar-primary {
    background-color: #f2f5fa
}

.p-0 {
    padding: 0
}

.p-2 {
    padding: 20px
}

.pt-3 {
    padding-top: 30px
}

.pt-4 {
    padding-top: 40px
}

.pb-3 {
    padding-bottom: 30px
}

.pb-4 {
    padding-bottom: 40px
}

.m-1 {
    margin: 10px
}

.ml-1 {
    margin-left: 10px
}

.mr-3 {
    margin-right: 30px
}

.mt-1 {
    margin-top: 10px
}

.mt-2 {
    margin-top: 20px
}

.mt-3 {
    margin-top: 30px
}

.mt-4 {
    margin-top: 40px
}

.mt-5 {
    margin-top: 50px
}

.mb-2 {
    margin-bottom: 20px
}

.mb-3 {
    margin-bottom: 30px
}

.mb-4 {
    margin-bottom: 40px
}

.o-10 {
    opacity: .1
}

.o-30 {
    opacity: .3
}

.o-50 {
    opacity: .5
}

.o-70 {
    opacity: .7
}

.o-90 {
    opacity: .9
}

.br {
    border-radius: 20px
}

.br-xs {
    border-radius: 5px
}

.br-lg {
    border-radius: 40px
}

.display-f {
    display: flex
}

.display-i-b {
    display: inline-block
}

.font-sm {
    font-size: 10.5px
}

.font-md {
    font-size: 14px
}

.font-lg {
    font-size: 21px
}

.font-xl {
    font-size: 28px
}

.font-xxl {
    font-size: 42px
}

.top-bar {
    background-color: #fff;
    height: 56px;
    padding: 10px 20px 0px
}

.top-bar-2 {
    display: flex;
    justify-content: space-between
}

.menu {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    justify-content: flex-end;
    padding: 13px 0px 5px;
    position: relative
}

.links {
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content
}

.content {
    align-items: flex-start;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(242, 245, 250) 100%);
    display: inline-flex;
    flex-direction: column;
    height: 308px;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 20px;
    top: 255px;
    width: 295px
}

.text {
    height: 96px;
    margin-right: -40px;
    padding-right: 5px;
    width: 299px;
    position: relative
}

.heading {
    position: absolute;
    top: 2px;
    width: 295px
}

.subheading {
    position: absolute;
    top: 45px;
    width: 295px
}

.input-container {
    margin-right: -2px;
    margin-top: 2px;
    position: relative;
    width: 293px;
    display: inline-flex;
    flex-direction: column
}

.input-box {
    border-left: 4px solid #4066a5
}

.overlap-group {
    background-color: #fff;
    border: 1px solid;
    border-color: #e3e3e4;
    height: 58px;
    position: relative;
    width: 100%
}

.email-input-container {
    height: 54px;
    left: 14px;
    position: absolute;
    top: 3px;
    width: calc(100% - 60px)
}

.placeholder {
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: 15px;
    width: 100%
}

.ic-arrow {
    left: 217px;
    bottom: -3px;
    left: 221px;
    position: absolute
}

.TOS {
    height: 26px;
    width: 297px;
    position: relative
}

.i-agree-to-terms-of {
    font-size: 16px;
    left: 42px;
    line-height: 26px;
    top: 2px;
    width: 253px;
    position: absolute
}

.text-wrapper {
    color: #6a707b
}

.span {
    color: #131821;
    text-decoration: underline
}

.social {
    height: 66px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 295px
}

.line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: -1px;
    width: 295px
}

.social-icons {
    height: 46px;
    left: 40px;
    position: absolute;
    top: 20px;
    width: 214px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between
}

@media(min-width: 833px) {
    .top-bar {
        align-items: flex-end;
        display: inline-flex;
        gap: 113px;
        left: 80px;
        padding: 10px 20px 16px;
        position: absolute;
        top: 89px;
        width: 480px;
        z-index: 1
    }

    .top-bar-2 {
        padding-bottom: 9px;
        width: 100%
    }

    .menu {
        align-items: flex-start;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 30px;
        position: relative;
        margin-top: 4px
    }

    .links {
        margin-top: -1px;
        position: relative;
        white-space: nowrap;
        width: fit-content
    }

    .content {
        background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(242, 245, 250) 100%);
        height: 1194px;
        position: relative;
        width: 680px;
        left: 0%;
        transform: translateX(0%);
        padding: 0px;
        top: 0px
    }

    .text {
        height: 115px;
        left: 100px;
        top: 374px;
        width: 484px
    }

    .heading {
        left: 0;
        position: absolute;
        top: 2px;
        width: 479px
    }

    .subheading {
        top: 62px;
        width: 480px
    }

    .input-container {
        height: 72px;
        left: 100px;
        position: absolute;
        top: 539px;
        width: 478px;
        margin-top: 0px
    }

    .overlap-group {
        height: 70px
    }

    .email-input-container {
        width: calc(100% - 90px)
    }

    .placeholder {
        left: 21px;
        position: absolute;
        top: 22px
    }

    .ic-arrow {
        left: 395px;
        bottom: -9px
    }

    .TOS {
        left: 100px;
        top: 659px;
        width: 482px;
        position: absolute
    }

    .i-agree-to-terms-of {
        left: 42px;
        top: 3px;
        width: 438px;
        position: absolute
    }

    .social {
        height: 96px;
        left: 100px;
        position: absolute;
        top: 735px;
        width: 480px
    }

    .line {
        width: 480px
    }

    .social-icons {
        left: 118px;
        top: 50px;
        width: 244px
    }
}