// import google font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  color: inherit;
  margin: 0;
}

body {
  font-family: $body-font-family;
}

h1,
.heading {
  font-family: $heading-font-family;
  color: #131821;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34px;
}

h2,
.subheading,
input {
  font-family: $body-font-family;
  color: #6a707b;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
}

.message {
  font-family: $body-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.links {
  color: $gray-2;
  font-family: "Arial-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
}

.underline {
  border-bottom: 1.5px solid $black;
  padding-bottom: 0.3x;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.test {
  color: $primary;
}

// Styles for screens smaller than the medium breakpoint
@include max-md {
  .hide-sm-to-md {
    display: none;
  }
}

@include min-md {
  .hide-md-to-lg {
    display: none;
  }

  .links {
    font-size: 16px;
    line-height: 26px;
  }

  h1,
  .heading {
    font-size: 32px;
    line-height: 44px;
    font-weight: 400;
  }

  h2,
  .subheading,
  input {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
}

@media (max-width: map-get($breakpoints, "sm")) {
  h1 {
    font-size: 24px;
    line-height: 34px;
  }

  h2 {
    font-size: 14px;
    line-height: 26px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
  }

  span {
    font-size: 16px;
    line-height: 26px;
  }
}
