// theme colors
$primary: #326dee !default;
$secondary: #1ac886 !default;
$error: #d32752 !default;
$info: #f6c31c !default;
$black: #0000 !default;
$body-font-family: Arial;
$heading-font-family: Georgia;

// breakpoints for responsive design
$breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

// color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "light-blue": #1da1f2,
  "blue": #177fbf,
  "dark-blue": #4267b2,
  "dark-blue-2": #2f4a80,
  "red": #ff0000,
  "dark-red": #cc0000,
  "yellow": #e6e619,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #c13584,
  "dark-purple": #c13584,
  "gray-1": #808080,
  "gray-2": #6a707b,
  "black": $black,
  "white": #ffffff,
) !default;

// spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

// font sizes
$base-font-size: 1rem !default;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;

// misc
$flex-flow: "row wrap" !default;
