// theme colors
$primary: #326dee !default;
$secondary: #1ac886 !default;
$border-color: #e3e3e4 !default;
$error: #B80808 !default;
$info: #f6c31c !default;
$hover: #4066a5 !default;
$pressed: #233759 !default;
$light-blue: #1da1f2 !default;
$blue: #177fbf !default;
$dark-blue: #4267b2 !default;
$dark-blue-2: #2f4a80 !default;
$red: #ff0000 !default;
$dark-red: #cc0000 !default;
$yellow: #e6e619 !default;
$green: #19e635 !default;
$orange: #ffa600 !default;
$purple: #c13584 !default;
$dark-purple: #8f2762 !default;
$gray-1: #808080 !default;
$gray-2: #6a707b !default;
$black: #0000 !default;
$white: #ffffff !default;
$body-font-family: Arial !default;
$heading-font-family: Georgia !default;

// breakpoints for responsive design
$breakpoints: (
  "xs": 0,
  "sm": 375px,
  "md": 834px,
  "lg": 1200px,
  "xl": 1920px,
);

// color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "light-blue": $light-blue,
  "blue": $blue,
  "dark-blue": $dark-blue,
  "dark-blue-2": $dark-blue-2,
  "red": $red,
  "dark-red": $dark-red,
  "yellow": $yellow,
  "green": $green,
  "orange": $orange,
  "purple": $purple,
  "dark-purple": $dark-purple,
  "gray-1": $gray-1,
  "gray-2": $gray-2,
  "black": $black,
  "white": $white,
) !default;

// spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

// font sizes
$base-font-size: 1rem !default;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;

// misc
$flex-flow: "row wrap" !default;
