@include min-md {
    .container-form {
        background-image: url(./components/Images/image_summer.png);
        height: 100vh;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: 440px top;
    }
}

@include max-md {
    .container-form {
        background-image: url(./components/Images/image_summer.png);
        height: 100vh;
        background-size: auto 100%;
        background-position: -221px;
    }
}