@mixin btn($color: $primary) {
  line-height: 24px;
  background-color: transparent;
  border: none;
  color: $color;
}

.btn {
  @include btn;
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val);
    &:hover {
      background-color: $hover;
    }
    &:active {
      background-color: $pressed;
    }
  }
}

@mixin btn-2($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: $bg-color;
}

.btn-2 {
  @include btn-2;
}

@each $key, $val in $colors {
  .btn-2-#{$key} {
    @include btn-2($val);
    &:hover {
      background-color: lighten($val, 5);
    }
  }
  .btn-2-outlined-#{$key} {
    @include btn-2(#fff);
    border: $base-border-thickness solid $val;
    &:hover {
      background-color: $val;
    }
  }
  .btn-2-complement-#{$key} {
    @include btn-2($val);
    color: light-comp($val);
    &:hover {
      color: $val;
      background-color: light-comp($val);
    }
  }
}
