// normal class for icons (not pressed or hovered)
.ic {
  fill: $black;
}

.ic:hover {
  fill: $white;
}

// base (frame) for icons
.base {
  box-sizing: border-box;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  border: 2px solid #e3e3e4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base:hover {
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

// list of icon background colors when hover
$icons: (
  "fb": $dark-blue,
  "ig": $purple,
  "twt": $light-blue,
  "yt": $red,
);

// icon classes
@each $key, $val in $icons {
  .#{$key}:hover {
    background: $val;
  }
}

@media only screen and (min-width: 768px) {
  .subscribe-icons {
    width: 244px;
    height: 46px;
    margin-right: 91px;
    margin-top: 50px;
  }
}
